.col-xs-4{
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
	
}
.col-xs-6{
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
	
}
.col-xs-3{
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
	
}
