.col-xs-4{
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
	
}
.col-xs-6{
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
	z-index: 1;
	
}
.col-xs-3{
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
	
}
.container{
	margin-left: 60px;
	margin-right: 60px;
	width: auto;
}
